.item-list-section {
  text-align: center;
 
}

.filter-container {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.filter-container select {
  padding: 0.5rem;
  border-radius: 5px;
}

.hero-title {  
  position: relative; 
  margin: 1rem 0;
  text-align: center;
  background-image: url("../../assets/Bakery.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title h2 {
  position: relative; 
  z-index: 1; 
  font-family: "Playfair Display", serif; 
  font-size: 4rem; 
  font-weight: 700;
  color: #4a2c2a; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.hero-subtitle {
  position: relative; 
  z-index: 1;
  font-size: 1.5rem; 
  color: #5a3e36;
  margin-top: 0.5rem;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-title {
    min-height: 40vh;
    padding: 2rem 0; 
  }

  .hero-title h1 {
    font-size: 2rem; 
  }
}