.admin-product-list-container {
  padding: 2rem;  
 
}

.admin-product-list-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
  width: 80%; 
  margin: 0 auto 2rem auto; 
}

.admin-product-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 80%; 
  margin: 0 auto 1rem auto; 
}

.admin-product-list-header .add-product-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.admin-product-list-header .add-product-button:hover {
  background-color: #218838;
}

.admin-product-list-header .filter-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.admin-product-list-header .filter-group label {
  font-weight: bold;
  color: #555;
}

.admin-product-list-header .filter-select {
    padding: 0.75rem 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    color: #555;
    cursor: pointer;
}

.products-table {
  width: 80%;
  border-collapse: collapse;
  margin: 1rem auto; 
  background-color: #f2f2f2
}

.products-table th,
.products-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

.products-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.product-image-thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.product-actions {
  display: flex;
  gap: 0.5rem;
}

.product-actions .edit-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.product-actions .edit-button:hover {
  background-color: #2980b9;
}

.product-actions .delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.product-actions .delete-button:hover {
  background-color: #c0392b;
}

/* Media Query para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .admin-product-list-header {
    flex-direction: column;
    gap: 1rem;
    align-items: center; 
    width: 95%; 
  }

  .admin-product-list-header .filter-group {
    justify-content: center; 
  }
}