/* 1. CSS Reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
}

/* 2. Base Styles */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
}

body { 
   min-height: 100vh;  
  background-image: url('/images/bakery-bg.png'); 
  background-size: cover; 
  background-position: center;
  background-attachment: fixed; 
  background-repeat: no-repeat; 
}

img {
  max-width: 100%;
  display: block;
}

/* 3. App Layout (Sticky Footer) */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.main-content {
  flex-grow: 1; 
}

/* padding-top: al contenido principal para que no quede oculto por el header sticky */
.main-content {
  padding-top: 100px;  
}
